<div class="container">
  <div class="page">
    <div class="header">
      <div class="header_name"><h1>Cart</h1></div>
      <div class="header_manage">
        <div class="header_total">
          <h2>Total: {{salesOrder?.price}} BYN</h2>
        </div>
        <div class="header_submit">
          <button mat-stroked-button [disabled]="this.salesOrder==null || this.salesOrder.products.length==0" color="primary" (click)="onSubmitClick()">Submit</button>
        </div>
      </div>
    </div>
    <div class="info" *ngIf="this.salesOrder!=null && this.salesOrder.products.length!= 0; else emptyBlock">

        <div *ngFor="let item of productsId" class="item-container">
           <div class="item-info">
            <div class="item-info-name">
              {{this.getProductName(item)}}
            </div>
            <div class="item-info-descr">
              {{this.getProductDescription(item)}}
            </div>
           </div>
           <div class="item-price">{{getProductPrice(item, this.salesOrder.productsQuantity.get(item))}} BYN</div>
           <div class="item_activ">
           <button mat-icon-button color="primary" (click)="onAddClick(item)">
             <mat-icon>add_circle_outline</mat-icon>
            </button>
             <div class="item_activ_count">{{getProductCount(item)}}</div>
            <button mat-icon-button color="primary" (click)="onRemoveClick(item)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
           </div>
        </div>

    </div>

    <ng-template #emptyBlock>
      <div class="emptyBlock">Cart is empty!</div>
    </ng-template>
  </div>
</div>
