<div class="container">
  <div class="page">
    <div class="header">
      <div class="header_name"><h2>Cart</h2></div>
      <div class="header_manage">
        <div class="header_total">
          <h3>Total: {{salesOrder?.price}}</h3>
        </div>
        <div class="header_submit">
          <button mat-stroked-button color="primary">Submit</button>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="item-container">
         <div class="item-info">dfgds</div>
         <div class="item-price">dsfgdsfg</div>
         <div class="item_activ">fdgdsg</div>
      </div>
    </div>
  </div>
</div>
