.container {
  margin-left: 200px;
  margin-right: 200px;
}

.container-inner {
  margin-right: 200px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info .info-info {
  margin-left: 25px;
}

.info-name {
  font-size: 35px;
}

.info-price {
  font-size: 20px;
}

.descr {
  font-size: 20px;
}

