<div class="login-user">
  <h2 mat-dialog-title align="center">Login</h2>
  <form [formGroup]="credentialForm">
     <mat-form-field>
         <input matInput placeholder="Login" [formControlName]="'login'" required>

     </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [formControlName]="'password'" required>
    </mat-form-field>
    <div #recaptcha ></div>
  </form>
  <div class="edit-user-controls">
     <button mat-button color="primary" [disabled]="credentialForm.invalid || !isCaptchaTokenReady" (click)="onLoginClick()" cdkFocusInitial>
        Login
     </button>
     <button mat-button color="warn" (click)=onCancelClick()>Cancel</button>
  </div>
  <div class="edit-user-controls">
      Don't have an account?
    <button mat-button color="primary" class="create-user-button" (click)="onRegisterClick()">Registration</button>
  </div>
</div>
