<mat-toolbar color = "primary">
  <div class = "toolbar">
    <div class="log" *ngIf="!(currentUser | async); else loginUser">
       <button mat-stroked-button (click)="onLoginClick()">Login</button>
    </div>

    <div>
       <button mat-button [routerLink]="'menu'">
        <img src="assets/icons/Home.png" height="30" width="30"/>
       </button>

       <a mat-stroked-button class="button-interval" [routerLink]="''">Search</a>

    </div>

    <ng-template #loginUser>
      <div>
         <button class="username" color="red" mat-button [routerLink]="''">
            {{loginOfCurrentUser | async}}
            <img src="assets/icons/User.png" height="30" width="30" class="button-interval"/>
         </button>
         <button mat-stroked-button (click)="onLogoutClick()">Logout</button>
       </div>
    </ng-template>
  </div>
</mat-toolbar>
