/*.menu {*/
/*  display: table;*/
/*}*/

/*.menu__item {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*.dish-category {*/
/*  position: relative;*/
/*}*/

/*.dish-category__image {*/
/*  position: absolute;*/
/*  z-index: -1;*/
/*}*/


.menu-container {
  overflow: auto;
  height: 100%;
}

.container {
  margin: 50px 200px;
}

.row {
  margin: 10px 100px;
  display: flex;
  justify-content: space-between;
}

.item-left {
  margin-left: 60px;
}

.item-right {
  margin-right: 60px;
}

img {
  border-radius: 5px;
  max-width: 500px;
  max-height: 400px;
}

.image {
}
