<!-- <ul class="menu"> -->
<!--   <li class="menu__item"> -->
<!--     <div class="dish-category"> -->
<!--       <span class="dish-category__name">sfgsdfg</span> -->
<!--       <img class="dish-category__image" src="/assets/images/menuBreakfast.jpg" alt=""> -->
<!--     </div> -->
<!--   </li> -->

<!--   <li class="menu__item"> -->
<!--     <div class="dish-category"> -->
<!--       <span class="dish-category__name">sfgsdfg</span> -->
<!--             <img class="dish-category__image" src="/assets/images/menuBreakfast.jpg" alt=""> -->
<!--     </div> -->
<!--   </li> -->

<!--   <li class="menu__item"> -->
<!--     <div class="dish-category"> -->
<!--      <span class="dish-category__name">sfgsdfg</span> -->
<!--            <img class="dish-category__image" src="/assets/images/menuBreakfast.jpg" alt=""> -->
<!--     </div> -->
<!--   </li> -->

<!--   <li class="menu__item"> -->
<!--     <div class="dish-category"> -->
<!--       <span class="dish-category__name">sfgsdfg</span> -->
<!--             <img class="dish-category__image" src="/assets/images/menuBreakfast.jpg" alt=""> -->
<!--     </div> -->
<!--   </li> -->
<!-- </ul> -->

<div class="menu-container">
  <div class="container">
    <div class="row">
      <div class="item-left">
        <a class="link" [routerLink]="'/menu/category/breakfasts'">
          <p class="text-header">Завтраки</p>
          <img class="image" src="/assets/images/menuBreakfast.jpg">
        </a>
      </div>
      <div class="item-right">
        <a class="link" [routerLink]="'/menu/category/dinners'">
          <p class="text-header">Обеды</p>
          <img class="image" src="/assets/images/menuDinner.jpg">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="item-left">
       <a class="link" [routerLink]="'/menu/category/salats'">
          <p class="text-header">Салаты</p>
          <img class="image" src="/assets/images/menuSalats.jpg">
       </a>
      </div>
      <div class="item-right">
       <a class="link" [routerLink]="'/menu/category/pizzas'">
          <p class="text-header">Пиццы</p>
          <img class="image" src="/assets/images/menuPizza.png">
        </a>
      </div>
    </div>
  </div>
</div>
