<div class="menu-container">
  <div class="container">
    <div class="row">
      <div class="item-left">
        <img src="/assets/images/menuBreakfast.jpg">
        <div class="item-description">
          <h1>Cеты</h1>
        </div>
      </div>
      <div class="item-right">
      <img src="/assets/images/menuBreakfast.jpg">
              <div class="item-description">
                <h1>Cеты</h1>
              </div>
      </div>
    </div>
    <div class="row">
      <div class="item-left">
      <img src="/assets/images/menuHotDishes.jpg">
              <div class="item-description">
                <h1>Cеты</h1>
              </div>
      </div>
      <div class="item-right">
      <img src="/assets/images/menuSalats.jpg">
              <div class="item-description">
                <h1>Cеты</h1>
              </div>
      </div>
    </div>
  </div>
</div>
