<div class="menu-container">
  <div class="menu-info">
    <div class="menu-info-header">
      {{menuCategory?.name}}
    </div>
    <div class="menu-info-descr">
      {{menuCategory?.description}}
    </div>
  </div>
  <div class="container" *ngIf="this.products!=null">
    <div class="row">
      <div class="item-left">
        <a (click)="onProductClick(this.products[0].id)"><img [src]="getImageSrc(this.products[0].id)"></a>
        <div class="item-descr">
          <div class="item-descr-name">{{this.products[0]?.name}}</div>
          <div class="item-descr-info-div">
            <div class="item-descr-info-price"><p>Price: {{this.products[0]?.price}} BYN</p></div>
            <button mat-stroked-button color="primary" (click)="onAddClick(this.products[0].id)">Заказать</button>
          </div>
        </div>
      </div>
      <div class="item-right">
        <a (click)="onProductClick(this.products[1].id)"><img [src]="getImageSrc(this.products[1].id)"></a>
          <div class="item-descr">
            <div class="item-descr-name">{{this.products[1]?.name}}</div>
              <div class="item-descr-info-div">
                <div class="item-descr-info-price"><p>Price: {{this.products[1]?.price}} BYN</p></div>
                  <button mat-stroked-button color="primary" (click)="onAddClick(this.products[1].id)">Заказать</button>
                </div>
              </div>
      </div>
    </div>
    <div class="row">
      <div class="item-left">
              <a (click)="onProductClick(this.products[2].id)"><img [src]="getImageSrc(this.products[2].id)"></a>
              <div class="item-descr">
                <div class="item-descr-name">{{this.products[2]?.name}}</div>
                <div class="item-descr-info-div">
                  <div class="item-descr-info-price"><p>Price: {{this.products[2]?.price}} BYN</p></div>
                  <button mat-stroked-button color="primary" (click)="onAddClick(this.products[2].id)">Заказать</button>
                </div>
              </div>
            </div>
            <div class="item-right">
              <a (click)="onProductClick(this.products[3].id)"><img [src]="getImageSrc(this.products[3].id)"></a>
                <div class="item-descr">
                  <div class="item-descr-name">{{this.products[3]?.name}}</div>
                    <div class="item-descr-info-div">
                      <div class="item-descr-info-price"><p>Price: {{this.products[3]?.price}} BYN</p></div>
                        <button mat-stroked-button color="primary" (click)="onAddClick(this.products[3].id)">Заказать</button>
                      </div>
                    </div>
            </div>
  </div>
</div>
