.menu-container {
  overflow: auto;
  height: 100%;
}

.container {
  margin: 50px 200px;
}

.row {
  margin: 10px 100px;
  display: flex;
  justify-content: space-between;
}

.item-left {
  margin-left: 60px;
}

.item-right {
  margin-right: 60px;
}

img {
  border-radius: 5px;
  max-width: 500px;
  max-height: 400px;
}

